In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("titles.csv")

In [3]:
df.head(2)

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969

In [4]:
data=pd.read_csv("cast.csv")

In [5]:
data.head(2)

             title  year      name   type character     n
0   Closet Monster  2015  Buffy #1  actor   Buffy 4   NaN
1  Suuri illusioni  1985    Homo $  actor    Guests  22.0

 ### Q-10 Which actors or actresses appeared in the most movies in the year 1945?

In [7]:
data.loc[data.year==1945,["character"]].value_counts()

character
Dancer                               256
Townsman                             206
Barfly                               122
Henchman                             122
Waiter                               122
                                    ...
Grover Cleveland 'Chatty' Perkins      1
Grumpy Man at Bright Dollar            1
Guadalupe Carti Ortega                 1
Gualterio                              1
sra. Pepa                              1
Length: 11696, dtype: int64

### Q-12  which actors or actresses appeared in the most movies in the year 1985 ?

In [10]:
data.loc[data.year==1985,["character"]].value_counts()

character
Dancer                                                 192
Himself                                                137
Policeman                                              125
Reporter                                                99
Doctor                                                  58
                                                      ...
Harry's Mother                                           1
Harry's Neighbor                                         1
Harry's Wife (segment "The Case of Harry Billings")      1
Hart                                                     1
von Roden                                                1
Length: 19629, dtype: int64